<h1>Redespachos realizados</h1>


<%= render 'registros' %>

<%= link_to 'Novo registro', new_redespacho_path, :class => 'btn btn-success'  %>

<div class="edit_area">
	<%=
	 #render 'form' 
	 
	%>
</div>
