<h1>Tipos de Pagamento Cadastrados</h1>

<div class="row">
	<div class="table-responsive col-md-12">
		<%= grid(@empresas) do |g|
			
			g.blank_slate  do
		    	content_tag :div, "Nenhum registro encontrado", class: 'well'
		  	end
			
			g.column name: 'Ações' do |option|
				buffer =  link_to('Editar', edit_empresa_path(option)) + ' | '
				buffer += link_to('Excluir', empresa_path(option), method: :delete, data: {confirm: 'Você tem certeza?'})
				raw buffer
			end
			
			g.column name: 'Nome', attribute: 'nome'
			g.column name: 'Razao_social', attribute: 'razao_social'
			g.column name: 'Email', attribute: 'email'
			g.column name: 'Telefone', attribute: 'telefone'
			g.column name: 'Responsavel', attribute: 'responsavel'
			g.column name: 'Cidade', attribute: 'cidade'
			
	    end %>
	</div>

</div>
