<!DOCTYPE html>
<html style="background-color: #fa7900">
<head>
  <title>Controle de cargas</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="login" style="background-color: #fa7900">
		<%= yield %>
	</div>
</body>
</html>
